---
title: POPULUS.js
---
<div class="actions">
  <ul>
    <li>Check the <a href="https://github.com/LukyVj/POPVLVS.js" title="Github project">code ⚙</a></li>
    <li>Share on <a href="https://twitter.com/intent/tweet?text=Populus.js%20-%20Small%20javascript%20toolbelt%20to%20populate%20search%20inputs%20https%3A%2F%2Flukyvj.github.io%2Fpopulus.js%20-%20via%20%40LukyVj" title="Tweet about it">Twitter 🐦</a></li>
  </ul>
</div>
<div class="container">
  <div class="hero text-center p-xlarge">
    <header class="m100p">
      <span class="text-xxl">🌿</span>
      <h1 class="w100p inline">POPULUS</h1>
      <h3>Small JavaScript toolbelt to populate search inputs</h3>

      <div class="p-xlarge">

        <a href="/src/populus.js" class="btn btn-static-theme btn-shadow" title="Download source file">Download POPULUS.JS (2kb) </a>

      </div>

      <nav class="navigation" id="nav">
        <div class="spacer32"></div>
        <ul>
          <li>[ <a href="#intro">Introduction</a> ]</li>
          <li>[ <a href="#demo">Demonstration</a> ]</li>
          <li>[ <a href="#api">API docs</a> ]</li>

          <li class="hidden">
            <a href="/src/populus.js" class="btn btn-static-theme btn-shadow" title="Download source file">Download (2kb) </a>
          </li>
        </ul>
      </nav>
    </header>

  </div>

  <span class="line"></span>

  <section class="section p-xlarge text-center" id="intro">
    <p>It's often bothering, if not difficult to set up a small demo using a text or a search input. Depending on what you want to achieve, you have to set up the submit buttons, the clear buttons, the update of the value of the input, accessibility, etc. </p>
    <p>That's why POPULUS was born, it was made to help you setting up complete text inputs to build demos and experiments faster!</p>
  </section>

  <span class="line"></span>

  <section class="section section-demo p-xlarge" id="demo">
    <header>
      <h2>Demo</h2>
    </header>

    <pre><code>&lt;input type="text"></code></pre>
    <!-- Populus demo -->
    <input type="search">


    <pre><code>&lt;input type="text" data-populus></code></pre>
    <!-- Populus demo -->

    <input type="search" data-populus-a>


  </section>

  <span class="line"></span>

  <section class="section section-api p-xlarge" id="api">
    <header>
      <h2>API</h2>
    </header>

    <div id="api">
      <nav>
        <!-- <h3>Api documentation</h3> -->
        <ul>
          <li><a href="#documentation-target">target</a></li>
          <li><a href="#documentation-features-wrapper">features.wrapper</a></li>
          <li><a href="#documentation-features-placeholder">features.placeholder</a></li>
          <li><a href="#documentation-features-autocomplete">fetures.autocomplete</a></li>
          <li><a href="#documentation-features-autocorrect">fetures.autocorrect</a></li>
          <li><a href="#documentation-features-autocapitalize">fetures.autocapitalize</a></li>
          <li><a href="#documentation-features-spellcheck">fetures.spellcheck</a></li>
          <li><a href="#documentation-features-required">fetures.required</a></li>
          <li><a href="#documentation-features-autofocus">features.autofocus</a></li>
          <li><a href="#documentation-features-updateValue">features.updateValue</a></li>
          <li><a href="#documentation-features-a11y-label">features.a11y.label</a></li>
          <li><a href="#documentation-features-a11y-outline">features.a11y.outline</a></li>
          <li><a href="#documentation-buttons-search-label">buttons.search.label</a></li>
          <li><a href="#documentation-buttons-search-click">buttons.search.click</a></li>
          <li><a href="#documentation-buttons-cancel-label">buttons.cancel.label</a></li>
          <li><a href="#documentation-buttons-cancel-click">buttons.cancel.click</a></li>
        </ul>
      </nav>

    <pre class="al-snippet"><code>var populus = new Populus();

populus.init({
  <span id="api-target">target</span>: <span class="string">'data-populus'</span>,
  <span id="api-features">features</span>: {
    <span id="api-features-wrapper">wrapper</span>: <span class="boolean">true</span>,
    <span id="api-features-placeholder">placeholder</span>: '<span class="string">Another POPULUS instance</span>',
    <span id="api-features-autocomplete">autocomplete</span>: <span class="boolean">true</span>,
    <span id="api-features-autocorrect">autocorrect</span>: <span class="boolean">true</span>,
    <span id="api-features-autocapitalize">autocapitalize</span>: <span class="boolean">true</span>,
    <span id="api-features-spellcheck">spellcheck</span>: <span class="boolean">true</span>,
    <span id="api-features-required">required</span>: <span class="boolean">true</span>,
    <span id="api-features-autofocus">autofocus</span>: <span class="boolean">false</span>,
    <span id="api-features-updateValue">updateValue</span>: <span class="boolean">true</span>,
    <span id="api-features-a11y">a11y</span>: {
      <span id="api-features-a11y-label">label</span>: <span class="string">'Search more'</span>,
      <span id="api-features-a11y-outline">outline</span>: [<span class="string">'2px'</span>, <span class="string">'dotted'</span>, <span class="string">'lime'</span>, <span class="string">'-5px'</span>]
    }
  },

  <span id="api-buttons">buttons: {
    <span id="api-buttons-search">search</span>: {
      <span id="api-buttons-search-label">label</span>: <span class="string">'search'</span>,
      <span id="api-buttons-search-click">onClick</span>: <span class="string">'console.log("hey")'</span>
    },
    <span id="api-buttons-cancel">cancel</span>: {
      <span id="api-buttons-cancel-label">label</span>: <span class="string">'or not'</span>,
      <span id="api-buttons-cancel-click">onClick</span>: <span class="string">'console.log("hooo")'</span>
    }
  }
});</code></pre>


      <div id="documentation" data-state="closed">
        <article id="documentation-target">
          <header>
            <h3>target</h3>
          </header>
          <p>The attribute to target</p>
          <pre><code>target: <span class="string">'data-populus-c'</span></code></pre>
        </article>
        <article id="documentation-features-wrapper">
          <header>
            <h3>features.wrapper</h3>
          </header>
          <p>If true, it will wrap the Populus input with a <code>&lt;div class="populus--wrapper">&gt;div></code>.</p>
          <pre><code>features.wrapper: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-placeholder">
          <header>
            <h3>features.placeholder</h3>
          </header>
          <p>The placeholder of the input</p>
          <pre><code>features.placeholder: <span class="string">'Another POPULUS instance'</span>,</code></pre>
        </article>
        <article id="documentation-features-autocomplete">
          <header>
            <h3>features.autocomplete</h3>

            <span class="info">mobile</span>
          </header>
          <p>Enable/disable autocompletion</p>
          <pre><code>features.autocomplete: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-autocorrect">
          <header>
            <h3>features.autocorrect</h3>

            <span class="info">mobile</span>
          </header>
          <p>Enable/Disable autocorrection</p>

          <pre><code>features.autocorrect: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-autocapitalize">
          <header>
            <h3>features.autocapitalize</h3>

            <span class="info">Safari/iOS</span>
          </header>
          <p>Enable/disable autocapitalize.</p>

          <pre><code>afeatures.utocapitalize: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-spellcheck">
          <header>
            <h3>features.spellcheck</h3>

            <span class="info">Mobile/Safari/iOS</span>
          </header>
          <p>Enable/disable spell-checking</p>

          <pre><code>features.spellcheck: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-required">
          <header>
            <h3>features.required</h3>
          </header>
          <p>If true, the input will be required.</p>

          <pre><code>features.required: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-autofocus">
          <header>
            <h3>features.autofocus</h3>
          </header>
          <p>If true, the input will be auto-focused on page load.</p>

          <pre><code>features.autofocus: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-updateValue">
          <header>
            <h3>features.updateValue</h3>
          </header>
          <p>If true, the value of the input will be updated as you type.</p>

          <pre><code>features.updateValue: <span class="boolean">true</span></code></pre>
        </article>
        <article id="documentation-features-a11y-label">
          <header>
            <h3>features.a11y.label</h3>
          </header>
          <p>Add the <code>aria-label</code>, <code>name</code> and <code>title</code> attributes to the input</p>

          <pre><code>a11y.label: <span class="string">'search input'</span></code></pre>
        </article>
        <article id="documentation-features-a11y-outline">
          <header>
            <h3>features.a11y.outline</h3>
          </header>
          <p>Add outline for accessibility</p>
          <ul>
            <li>1: Outline width</li>
            <li>2: Outline type</li>
            <li>3: Outline color</li>
            <li>4: Outline offset (optional)</li>
          </ul>

          <pre><code>a11y.outline: [<span class="string">'2px'</span>, <span class="string">'solid'</span>, <span class="string">'blue'</span>, <span class="string">'-2px'</span>]</code></pre>
        </article>
        <article id="documentation-buttons-search-label">
          <header>
            <h3>buttons.search.label</h3>
          </header>
          <p>The text/html of the search button</p>

          <pre><code>buttons.search.label: <span class="string">'Search!'</span>,</code></pre>
        </article>
        <article id="documentation-buttons-search-click">
          <header>
            <h3>buttons.search.click</h3>
          </header>
          <p>The JS executed when clicking on the search button</p>

          <pre><code>buttons.search.onClick: <span class="string">'this.parentNode.childNodes[0].focus()'</span></code></pre>
        </article>
        <article id="documentation-buttons-cancel-label">
          <header>
            <h3>buttons.cancel.label</h3>
          </header>
          <p>The text/html of the cancel button</p>

          <pre><code>buttons.cancel.label: <span class="string">'cancel'</span>,</code></pre>
        </article>
        <article id="documentation-buttons-cancel-click">
          <header>
            <h3>buttons.cancel.click</h3>
          </header>
          <p>The JS executed when clicking on the cancel button</p>

          <pre><code>buttons.cancel.onClick: <span class="string">'this.parentNode.childNodes[0].value=""'</span></code></pre>
        </article>
      </div>
    </div>
  </section>
</div>

<footer class="text-center">

  <p>Tiny project made by <a href="https://twitter.com/LukyVj" title="The author of the code">@LukyVj</a> - Design by <a href="https://twitter.com/Auareyou" title="The author of the design ❤️">@Auareyou</a></p>

</footer>
