@import url('https://fonts.googleapis.com/css?family=Cinzel:700,900|Montserrat')


h1,h2
	color: lighten($alpha-color, 15%)
	background: -webkit-linear-gradient(lighten($alpha-color, 25%), $alpha-color)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

p
	color: rgba(#2C2C2E, 0.60)
	line-height: 24px
	font-size: 16px